/* common */
a
{
    text-decoration: none;
}
body
{
    margin: 0;
    padding: 0;
}
#copyrightsTxt
{
    background-color: #504E4E;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
}
header, footer
{
    background-color: maroon;
}
.header, .headerTable
{
    margin-top: 0;
    padding-top: 0;
}
header p
{
    margin: 0;
}
#headTxt
{
	color: white;
	font-weight: bold;
	letter-spacing: 20px;
	font-size: 50px;
	font-family: fantasy;
    text-align: center;
}
#headerLogo
{
	width: 150px;
	height: 150px;
    margin-left: 0;
    float: left;
}
#headtxt1, #headtxt2
{
    margin-left: -85px;
    justify-content: left;
    text-align: center;
    text-transform: uppercase;
}
#headtxt1
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 26px; 
}
#headtxt2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    letter-spacing: 6px;
}
.headerTable
{
	width: 100%;
	color: white;
}
.subHeader
{
    width: 100%;
    margin-left: -10%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subHeader, #headtxt1, #headtxt2
{
    display: inline-block;
}
.subHeader ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-left: -3px;
    margin-right: -3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subHeader ul li
{
	display: inline-block;
	padding-left: 5%;
	margin-left: 2%;
}
.subHeader a
{
	color: white;
	display: block;
	padding: 10px;
    font-weight: bolder;
}
.subHeader a:hover
{
	background-color: yellow;
    color: black;
    padding: 10px;
}
.footerTable
{
    color: white;
	width: 100%;
	text-align: center;
	width: 100%;
}


#contactIco 
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10 auto;

}

p.contactdata{
	text-align:left;
	padding:0;
}
	
.footerTable th
{
    font-size:large;
	color:white;
	padding: 15px 0 15px 0;
	letter-spacing:5px;
}
.footerTable ul 
{
    list-style: none;
	text-align: left;
}
.footerTable li a
{
    color: white;
	display: block;
	padding: 10;
}
.footerTable li a
{
    padding-bottom: 20%;
}
.footerTable tr
{
    padding-top: 30px;
    float: center;
}
#comtactInfo
{
	display: block;
	padding: 15;
	margin-left: 10;
}

.information
{

}
#fb, #insta, #yt, #twitter, #linkedin, #tiktok
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid black;

}
#fb
{
  background: url("images/socialmedia.jpg") -40px -30px;
  margin-bottom:20px;
  margin-top:20px;
}
#insta
{
  background: url("images/socialmedia.jpg") -209px -31px;
  margin-bottom:20px;
}
#yt
{
  background: url("images/socialmedia.jpg") -546px -31px;
  margin-bottom:20px;
}
#twitter
{
  background: url("images/socialmedia.jpg") -290px -31px;
  margin-bottom:20px;
}
#linkedin
{
  background: url("images/socialmedia.jpg") -460px -31px;
  margin-bottom:20px;
}
#tiktok
{
  background: url("images/socialmedia.jpg") -546px -203px;
  margin-bottom:20px;
}

.footlinks {
	line-height:500%;
}

.footlinks a:link,
.footlinks a:visited {
	font-size:18px;
	color:white;
	text-decoration:none;
	padding: 5px 25px 5px 25px;
}

.footlinks a:hover {
	color:black;
	text-decoration:underline;
	background-color:white;
}
	
table.contactinfo {
		width:50%;
		height:100%;
		margin: 0 auto;
}


#fb:hover, #insta:hover, #yt:hover, #twitter:hover, #linkedin:hover, #tiktok:hover
{

  border:2px solid gray;

}




/* login */
.loginHeader
{
   margin: 0; 
   padding: 0;
}
.LoginHeaderCont
{
    background-color: maroon;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
#LoginHeaderImg
{
    width: 150px;
    height: 150px;
    margin: 10px;
}
#txt1, #txt2
{
    text-align: left;
    color: white;
}
#txt1
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
#txt2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    letter-spacing: 6px;
}
#logintxt
{
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 50px;
    margin-bottom: 2%;
}
.logincont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 3px solid maroon;
    border-radius: 40px;
    margin: 7%;
    padding: 10%;
	background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-bottom: 6%;
}
.logincont input
{
    width: 90%;
    height: 20px;
}
.logincont button
{
    width: 40%;
    height: 35px;
    float: center;
    margin-top: 4%;
    background-color: #5271FF;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

/* main */
