/* common */
a
{
    text-decoration: none;
}
body
{
    margin: 0;
    padding: 0;
}
#copyrightsTxt
{
    background-color: #504E4E;
    color: white;
    text-align: center;
    margin: 0;
    padding: 5px;
}
header, footer
{
    background-color: maroon;
}
.header, .headerTable
{
    margin-top: 0;
    padding-top: 0;
}
header p
{
    margin: 0;
}
#headTxt
{
	color: white;
	font-weight: bold;
	letter-spacing: 20px;
	font-size: 50px;
	font-family: fantasy;
    text-align: center;
}
#headerLogo
{
	width: 150px;
	height: 150px;
    margin-left: 0;
    float: left;
}
#headtxt1, #headtxt2
{
    margin-left: -55px;
    justify-content: left;
    text-align: center;
    text-transform: uppercase;
}
#headtxt1
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 26px; 
}
#headtxt2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    letter-spacing: 6px;
}
.headerTable
{
	width: 100%;
	color: white;
}
.subHeader
{
    width: 100%;
    margin-left: -10%;
    font-size: 18px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.subHeader, #headtxt1, #headtxt2
{
    display: inline-block;
}
.subHeader ul {
    list-style: none;
    text-align: center;
    padding: 0;
    margin-left: -3px;
    margin-right: -3px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.subHeader ul li
{
	display: inline-block;
	padding-left: 2%;
	margin-left: 2%;
}
.subHeader a
{
	color: white;
	display: block;
	padding: 10px;
    font-weight: bolder;
}
.subHeader a:hover
{
	background-color: yellow;
    color: black;
    padding: 10px;
}
.footerTable
{
    color: white;
	width: 100%;
	text-align: center;
}
#contactIco 
{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid white;
    margin: 10 auto;
    margin-right: 15px;
}
p.contactdata{
	text-align:left;
	padding:0;
}
.footerTable
{
    width: 100%;
}
.footerTable th
{
    font-size: large;
    color:white;
	padding: 15px 0 15px 0;
	letter-spacing:5px;
}
.footerTable ul 
{
    list-style: none;
	text-align: left;
}
.footerTable li a
{
    color: white;
	display: block;
	padding: 10;
}
.footerTable li a
{
    padding-bottom: 20%;
}
.footerTable tr
{
    padding-top: 30px;
    float: center;
}
#comtactInfo
{
	display: block;
	padding: 15;
	margin-left: 10;
}
.questions
{
   margin-left: 15%;
}
.questions li
{
   margin-bottom: 40px;
}
.information
{
    margin-left: 9%;
}
#fb, #insta, #yt, #twitter, #linkedin, #tiktok
{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border:2px solid maroon;
  margin-bottom:20px;
}
#fb
{
  background: url("images/socialmedia.jpg") -40px -30px;
  margin-top:20px;
}
#insta
{
  background: url("images/socialmedia.jpg") -209px -30px;
}
#yt
{
  background: url("images/socialmedia.jpg") -546px -30px;
}
#twitter
{
  background: url("images/socialmedia.jpg") -290px -30px;
}
#linkedin
{
  background: url("images/socialmedia.jpg") -460px -30px;
}
#tiktok
{
  background: url("images/socialmedia.jpg") -546px -200px;
}
.footlinks 
{
	line-height:500%;
}
.footlinks a:link, .footlinks a:visited 
{
	font-size:18px;
	color:white;
	text-decoration:none;
	padding: 5px 25px 5px 25px;
}
.footlinks a:hover 
{
	color:black;
	font-size:18px;
	text-decoration:underline;
	background-color:white;
    font-weight: bold;
}
table.contactinfo 
{
    width:70%;
    height:100%;
    margin: 0 auto;
}
#fb:hover, #insta:hover, #yt:hover, #twitter:hover, #linkedin:hover, #tiktok:hover
{
  border:4px solid white;
}
span.sheadtext, .fheadtext
{
	font-size:40px;
	letter-spacing:15px;
	font-weight:600;
    font-family: Arial, Helvetica, sans-serif;
}

/* login */
.loginHeader
{
   margin: 0; 
   padding: 0;
}
.LoginHeaderCont
{
    background-color: maroon;
    display: flex; 
    justify-content: center; 
    align-items: center;
    text-align: center;
}
#LoginHeaderImg
{
    width: 150px;
    height: 150px;
    margin: 10px;
}
#txt1, #txt2
{
    text-align: left;
    color: white;
}
#txt1
{
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    font-size: xx-large;
}
#txt2
{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 8px;
    letter-spacing: 6px;
}
#logintxt
{
    color: maroon;
    text-transform: uppercase;
    letter-spacing: 20px;
    font-size: 50px;
    margin-bottom: 2%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}
.logincont
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	border: 3px solid maroon;
    border-radius: 40px;
    margin: 7%;
    padding: 10%;
	background-color: rgba(0, 0, 0, 0.2);
    width: 30%;
    padding-top: 3%;
    padding-bottom: 5%;
    margin-top: 2%;
    margin-bottom: 6%;
}
.logincont input
{
    width: 90%;
    height: 20px;
}
.logincont button
{
    width: 40%;
    height: 35px;
    float: center;
    margin-top: 4%;
    background-color: #5271FF;
    color: white;
    border: 0;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 10px;
}

/* home */
div.homecoontent 
{
	width:100%;
	height: 700px; 
	margin-bottom:-16px;
    display: block;
    margin-left: -5%;
}
div.homeimg 
{
	height:100%;
	width:50%;
	float:left; 
	margin: 0 auto;
}
div.hometext 
{
	height: 100%; 
	padding:0 5% 0 5%;
	width: 40%; 
	float: left; 
	text-align: center; 
	display: flex; 
	align-items: center;
	flex-direction: column;
    justify-content: center;
}	
p.homehead 
{
	font-size:40px;
	letter-spacing:10px;
	font-weight:600;
	display:block;
    font-family: Arial, Helvetica, sans-serif;
}
p.text 
{
    text-align: center; 
	font-size:20px;
    line-height: 35px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Services */
div.scontent 
{
	height:800px;
	width:100%;
    margin-top: 30px;
    margin-bottom: 50px;
}
div.shead 
{
	height:30%;
	width:100%;
}
div.shead img 
{
	margin-top:-50px;
	margin-bottom:-50px;
}
div.servielist 
{
	height:75%;
	width:100%;
}
div.Service 
{
	float:left;
	border:5px solid maroon;
	border-radius:5%;
	margin:2.5% 0 2.5% 3.5%;	
	height:85%;
	width:20%;
	text-align: center; 
	display: flex; 
	align-items: center;
	flex-direction: column;
    justify-content: center; 
	background-color:rgba(0, 0, 0, 0.1);
}

div.Service img{
	margin-top:-150px;
	margin-bottom:-50px;
}

#img3,#img4 {
	margin-left:25px;
}

span.stexthead {
	font-size:35px;
	font-weight:600;
	color:maroon;
	border-bottom:2px solid maroon;
}

span.stext {
	font-size:25px;
	padding: 0 10% 0 10%;
}
#seeMoreButton
{
    background-color: maroon;
    color: yellow;
    font-weight: bold;
    border: 0;
    cursor: pointer;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5%;
    margin-bottom: 80px;
}
#seeMoreButton:hover
{
    color: yellow;
    border: 5px solid yellow;
    font-weight: bold;
}

/* appointment */
.appointmentmain
{
    width: 100%;
	border:2px solid black;
}

.appointment
{
    width: 60%;
	
}

.Pfheadtext
{
    text-align: center;
    margin-top: 5%;
}

.appoinmentcontainer 
{
    width: 100%;
	border:2px solid red;
}

.appoinmentcontainer table
{
    width: 100%;
    margin-top: 5%;
}
.appoinmentcontainer table th
{
	
    text-align: left;
	padding-left:10%;
    width: 25%;
}

#symptoms {
	vertical-align: top;
}
.appoinmentcontainer table td
{
    width: 65%;
}
.appoinmentcontainer table td input 
{
    width: 90%;
    height: 25px;
    background-color: rgba(0, 0, 0, 0.1);
    border: 1px solid gray;
}

textarea {
	width:90%;
}
.appoinmentcontainer table td, .appoinmentcontainer table th
{
    padding-bottom: 20px;
}

.feedbackContContainer2 table
{
    width: 100%;
    border: 1px solid gray;
    background-color: rgba(0, 0, 0, 0.1);
    border-collapse: separate; 
    border-spacing: 15px; 
}

table.gender {
	width: 20%; 
	margin-top: 10px;
}
.buttons
{
    padding: 10;
    text-align: center;
    margin-right: 10%;
    margin-top: 10px;
}
#clearButton, #bookButton
{
    font-size: medium;
    margin-right: 20px;
    cursor: pointer;
    border: 2px solid maroon;
    border-radius: 10%;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: bold;
}
#clearButton
{
    color: maroon;
}
#bookButton
{
    color: white;
    background-color: maroon;
}

div.gender {
	padding-left:20px;
	padding-right:100px;
    }





/* doctors */

div.dcontent {
	height:800px;
	width:100%;
}

div.dhead {
	height:25%;
	width:100%;
}

div.dhead img {
	margin-top:-50px;
	margin-bottom:-50px;
}

div.doctorlist {
    height: 75%;
    width: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
}
span.dheadtext {
	font-size:40px;
	letter-spacing:15px;
	font-weight:600;
}

div.doctors {
	float:left;
	border-radius:15%;
	margin:2.5% 5% 2.5% 5%;
	height:85%;
	width:20%;
	text-align: center; 
	display: flex; 
	align-items: center;
	flex-direction: column;
}

div.doctors img{
	border:5px solid white;
	outline:10px solid maroon;
}

span.dtexthead {
	font-size:26px;
	font-weight:600;
}

span.dtext {
	font-size:20px;
	padding: 0 10% 0 10%;
}

/* main */
